{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    {% block 'head'%}{% endblock %}
    <title> {% block 'title'%}{% endblock %} </title>
</head>     
<body>
    <section class="home-section" >
        {% block 'dashboard %}
        {% endblock %}
    </section>

    {% block 'body' %}
    {% endblock %}

    <script src="{% static 'general/js/base' %}"></script>


</body> 
</html>